/.idea
/docker_compose/nginx/kc_home
/docker_compose/nginx/cert/
/docker_compose/mysql/data
/docker_compose/minio/data
/docker_compose/kafka/data
/docker_compose/kafka/logs
/docker_compose/redis/data
/id_ed25519

/apigateway/log
/authservice/log
/userservice/log
/documentservice/log

**/go.sum

/deployment/devops/ssh-port-forward-internal/ssh_pids.txt
/deployment/app/docop-server/passwd
/deployment/app/config/jwt-config.yaml
/deployment/app/config/storage-config.yaml
/deployment/app/config/safereview-config.yaml

**/config_test.yaml

/maintenance/migration/mysql/config/config.yaml
/common/safereview/test_image_0.jpg
