/.idea
/docker_compose/nginx/kc_home
/docker_compose/mysql/data
/docker_compose/minio/data
/id_ed25519

/apigateway/log
/authservice/log
/userservice/log
/documentservice/log

**/go.sum
/docker_compose/nginx/cert/
