/.idea
/.VSCodeCounter

/deployment/docker_compose/nginx/kc_home
/deployment/docker_compose/nginx/cert/
/deployment/docker_compose/mysql/data
/deployment/docker_compose/minio/data
/deployment/docker_compose/kafka/data
/deployment/docker_compose/kafka/logs
/deployment/docker_compose/redis/data
/deployment/docker_compose/mongo/data
/id_ed25519

/deployment/localtest/mysql/
/deployment/localtest/minio/
/deployment/localtest/redis/
/deployment/localtest/mongodb/

/log

**/go.sum

/deployment/devops/ssh-port-forward-internal/ssh_pids.txt
/deployment/app/config/jwt-config.yaml
/deployment/app/config/storage-config.yaml
/deployment/app/config/safereview-config.yaml


./kcserver

**/*.log